/** christiang.dev SCSS
*   Basic Global SCSS styles to maintain consistency across my projects.
*   Last updated: Sep 21, 2020
*   me@christiang.dev
/* ---------------------------------------------------------- /*
# Table of Contents

- Vars
- Reset
- Defaults
- Layout
- Tag Archives
- Author Archives
- Pagination
- Footer

/* Variables
/* ---------------------------------------------------------- */
/* Colours */
$clr-accent-1: #ff8303;
$clr-accent-2: #5b7a81;
$clr-accent-3: #c7d5d8;

$clr-focus: #cbeafb;

$clr-red-1: #a91622;
$clr-red-2: #bd1628;
$clr-red-3: #d31122;
$clr-red-4: #f1202b;
$clr-red-5: #f63c41;
$clr-red-6: #ff9e79;

//TODO undo bluish greys
$clr-light: #fff;
$clr-grey-1: #2d2d2d;
$clr-grey-2: #3a3a3a;
$clr-grey-3: #4a4a4a;
$clr-grey-4: #717171;
$clr-grey-5: #a0a0a0;
$clr-grey-6: #c5c5c5;
$clr-grey-7: #e2e8f0;
$clr-grey-8: #edf2f7;
$clr-grey-9: #f7fafc;
$clr-dark: #15171a;

/* Fonts */
$ff-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$ff-serif: Georgia, Times, serif;
$ff-mono: Menlo, Courier, monospace;

$fw-thin: 100;
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
$fw-heavy: 800;

$h1-d: 4rem; // Desktop
$h1-m: 2rem; // Mobile

$h2-d: 2rem;
$h2-m: 1.8rem;

$h3-d: 1.8rem;
$h3-m: 1.7rem;

$h4-d: 1.6rem;
$h4-m: 1.5rem;

$h5-d: 1.4rem;
$h5-m: 1.3rem;

/* Sizes */
$height: 4rem;
$margin: 2rem;
$radius: 0.6rem;

/* Shadows */
$bs-diffused-2: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
  rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
$bs-diffused-4: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
$bs-diffused-3: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.16);

/* Borders*/
$brdr-radius-1: 4px;
$brdr-radius-2: 15px;

/* Vanilla CSS Variables
 * For Light / Dark Mode Switching Dynamically (since SASS is pre-processed)
/* ---------------------------------------------------------- */
:root {
  --clr-primary: #{$clr-light};
  --clr-secondary: #{$clr-dark};
  --clr-grey: #{$clr-grey-4};
}

/* Mixins
/* ---------------------------------------------------------- */

/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img {
  max-width: 100%;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
i,
em,
dfn {
  font-style: italic;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
mark {
  background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  overflow: hidden;
  border: none;
  background-color: inherit;
  margin: 0;
  padding: 0;

  &:focus {
    outline: 0.15em solid $clr-focus;
  }
}
button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;

  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  border: none;
  line-height: normal;

  &:focus {
    outline: none;
  }

  &[type='checkbox'],
  &[type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    height: auto;
  }

  &[type='search'] {
    box-sizing: content-box;

    -webkit-appearance: textfield;
  }

  &[type='search']::-webkit-search-cancel-button,
  &[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

/* Defaults
/* ---------------------------------------------------------- */

html {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;

  font-family: $ff-sans;
  font-weight: $fw-normal;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 0;

  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  transition: color 1s cubic-bezier(0.37, 0.55, 0.95, 0.68);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga' on;
}
.dark {
  --clr-primary: #{$clr-dark};
  --clr-secondary: #{$clr-light};
  --clr-grey: #{$clr-grey-5};
}

::selection {
  text-shadow: none;
  background: $clr-focus;
}

hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 1.8em 0 2.4em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #e3e9ed;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
  margin: 0 0 1.5em 0;
}

ol,
ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.5em 0 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  max-width: 100%;
}

li {
  margin: 0.5em 0;
  padding-left: 0.3em;
  line-height: 1.6em;
}

dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  font-weight: 500;
  text-align: right;
}

dd {
  margin: 0 0 5px 0;
  text-align: left;
}

blockquote {
  margin: 0.3em 0 1.8em;
  padding: 0 1.6em 0 1.6em;
  border-left: #cbeafb 0.5em solid;
}

blockquote p {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 300;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
  content: '\2014 \00A0';
}

blockquote cite {
  font-weight: bold;
}
blockquote cite a {
  font-weight: normal;
}

a {
  color: $clr-accent-1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.15;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0 0 0.5em 0;
  font-size: $h1-d;
  font-weight: 700;
}
@media (max-width: 500px) {
  h1 {
    font-size: $h1-m;
  }
}

h2 {
  margin: 1.5em 0 0.5em 0;
  font-size: $h2-d;
}
@media (max-width: 500px) {
  h2 {
    font-size: $h2-m;
  }
}

h3 {
  margin: 1.5em 0 0.5em 0;
  font-size: $h3-d;
  font-weight: 500;
}
@media (max-width: 500px) {
  h3 {
    font-size: $h3-m;
  }
}

h4 {
  margin: 1.5em 0 0.5em 0;
  font-size: $h4-d;
  font-weight: 500;
}
@media (max-width: 500px) {
  h4 {
    font-size: $h4-m;
  }
}

h5 {
  margin: 1.5em 0 0.5em 0;
  font-size: $h5-d;
  font-weight: 500;
}
@media (max-width: 500px) {
  h5 {
    font-size: $h5-m;
  }
}

/* Layout
/* ---------------------------------------------------------- */

.viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.portrait {
  max-width: 500px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 4vw;
}

.content {
  margin: 0 auto;
  font-size: 2rem;

  &--shadowed {
    box-shadow: $bs-diffused-2;
  }
}

.content-body {
  display: flex;
  flex-direction: column;
  font-family: $ff-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $ff-serif;
  }
}

.img__wrapper {
  img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.form__container {
  width: 100%;
  padding: 2em;
}

/* Header
/* ---------------------------------------------------------- */

.navbar {
  width: 100%;
  padding: 1.2em 2em 1.2em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;

  touch-action: none;
  .navbar__trigger {
    position: relative;
    z-index: 9;
    display: block;
    margin: 0;
    padding: 0;
  }

  .navbar__container {
    display: flex;
    flex-flow: column nowrap;

    //Positioning of itself when opened
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    background-color: var(--clr-primary);

    //Smooth Transition
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;

    &.open {
      height: 200px;
    }

    .navbar__menu {
      margin: 0;
      list-style-type: none;
      li {
        margin: 0.4em 0 0 0.3em;
        svg {
          vertical-align: initial;
        }
      }
    }
  }
}

@media (min-width: 680px) {
  //Navbar on big screens
  .navbar {
    .navbar__trigger {
      display: none;
    }
    .navbar__container {
      position: initial;
      height: auto;
      justify-content: center;

      &.open {
        height: auto;
      }
      .navbar__menu {
        display: flex;
      }
    }
  }
}

/* Main
/* ---------------------------------------------------------- */

.site-main {
  padding: 4vw 0;
}

.hero {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 10em auto 10em auto;
}

.header {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 5em 0 5em 0;
}

/* Interactives
/* ---------------------------------------------------------- */

a.cta,
button.cta {
  background-color: $clr-accent-1;
  color: var(--clr-primary);
  padding: 0.8em 1em;
  border-radius: $brdr-radius-1;

  a {
    color: inherit;
  }
}

.input {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  margin: 1.5em 0;

  label {
    color: var(--clr-grey);
  }

  input {
    font-size: 1.1rem;
    padding: 0.6em;
    border: 1px solid $clr-grey-6;
    border-radius: $brdr-radius-1;
    margin: 0.375em 0 0.3em 0;
    width: 100%;

    &:focus {
      outline: $clr-focus auto 1px;
    }

    + div {
      color: $clr-red-3;
      min-height: 1rem;
    }
  }

  &--big {
    box-shadow: $bs-diffused-3;
    font-size: 1.2em;
    padding: 1em 1em 1em 1em;
    width: 100%;
  }

  &--round {
    border-radius: $brdr-radius-2;
  }
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

/* Cards
/* ---------------------------------------------------------- */

.card {
  margin: 3em 0;
  display: flex;
  flex-flow: column nowrap;

  a {
    color: inherit;
  }

  .card__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 0 0 0.8em 0;
    .info__details {
      display: flex;
      flex-flow: column nowrap;

      .details__title {
        margin: 0.3em 0 0.6em 0;
      }

      .details__summary {
        color: var(--clr-grey);
        margin: 0%;
      }
    }

    .info__metadata {
      text-align: right;
      color: var(--clr-grey);

      span {
        color: var(--clr-secondary);
      }
    }
  }
}

@media (min-width: 680px) {
  .cards {
    padding: 0 8em 0 8em;
  }

  .card {
    flex-flow: row nowrap;
    justify-content: space-between;

    .card__info {
      margin: 4em 0 0 0;

      flex-flow: column nowrap;
      align-items: flex-start;

      .info__details {
        .details__title {
          font-size: $h4-d;
        }
      }

      .info__metadata {
        text-align: left;
      }
    }
    .card__image {
      width: 300px;
    }
  }
}

/* Pagination
/* ---------------------------------------------------------- */

/* Footer
/* ---------------------------------------------------------- */
footer {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}

/* Koenig Styles
/* ---------------------------------------------------------- */

/* Gallery Styles
/* ---------------------------------------------------------- */
